---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" crossorigin="anonymous">
<ol class="list-group list-group-numbered">
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold">Online Submodular Maximization via Online Convex Optimization</div>
 AAAI 2024.
</div>
<a  class="btn btn-secondary btn-sm" href="https://youtu.be/uRnYRcdC5WA"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Talk</span></a>
</li>
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> Online Learning for Network Resource Allocation</div>
 Networks Seminar Series, Centre for Networked Intelligence, Indian Institute of Science, November, 2023.
</div>
<a  class="btn btn-secondary btn-sm" href="https://www.youtube.com/watch?v=b4PoeYqJ3xQ&t=203s"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Talk</span></a>
</li>
  
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> Tutorial on Online Convex Optimization</div>
  SPIRAL (Machine Learning Laboratory's Reading Group), October 2023, Boston, MA. 
</div>
<a  class="btn btn-secondary btn-sm" href="/files/pdf/OCO_tutorial.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a>
</li>
  
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> No-Regret Caching via Online Mirror Descent</div>
 Invited session: What’s new in TOMPECS? ITC 35, October 2023, Turin, Italy.
</div>
<a  class="btn btn-secondary btn-sm" href="/files/pdf/ITC35.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a>
</li>
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold">Enabling Long-term Fairness in Dynamic Resource Allocation</div>
 Sigmetrics 2023, Orlando, Florida, USA.
</div>
 
<a  class="btn btn-secondary btn-sm" href="/files/pdf/ACM_SIGMETRICS_Presentation.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a>

</li>

  
  <li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> Enabling Long-term Fairness in Dynamic Resource Allocation</div>
 Poster session, WIoT Industry Day 2023, Boston, MA, USA.
</div>

<a  class="btn btn-secondary btn-sm" href="/files/pdf/ID23.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Poster</span></a>
</li>
  
  <li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> Online Learning for Network Resource Allocation</div>
 AI EDGE seminar series 22 (April, 7th, 2023), Boston, MA, USA.
</div>

<a  class="btn btn-secondary btn-sm" href="https://www.youtube.com/watch?v=mbn1TpPGZQs"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Talk</span></a>
</li>
  
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> Ph.D. Defense</div>
 Defended at Inria Sophia-Antipolis on October, 17th, 2022. 
</div>

<!-- <a  class="btn btn-secondary btn-sm" href="https://tareq-si-salem.github.io/files/pdf/Thesis_Defense.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a> -->
</li>
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> AÇAI: Ascent Similarity Caching with Approximate Indexes</div>
 Conference talk at ITC 33, 2021. 
</div>
 
<a  class="btn btn-secondary btn-sm" href="http://www-sop.inria.fr/members/Tareq.Si-Salem/slides/itc21-sisalem.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a>

</li>

<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> Towards Inference Delivery Networks: Distributing Machine Learning with Optimality Guarantees</div>
 Conference talk at MedComNet '21. 
</div>
 
<a  class="btn btn-secondary btn-sm" href="http://www-sop.inria.fr/members/Tareq.Si-Salem/slides/medcomnet21-sisalem.pdf"><span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a>

</li>
 
<li class="list-group-item d-flex justify-content-between align-items-start">
<div class="ms-2 me-auto">
<div class="fw-bold"> No-Regret Caching via Online Mirror Descent</div>
 Conference talk at ICC '21. 
</div>
<a  class="btn btn-secondary btn-sm" href="http://www-sop.inria.fr/members/Tareq.Si-Salem/slides/icc21-sisalem.pdf"> <span class = "text-nowrap"><i class="fa-solid fa-chalkboard-user"></i> Slides</span></a>

</li>
</ol>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

